<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <title>IPL-DATA</title>
</head>

<body>

    <div class="overlay"></div>

    <div class="center-box">

        <h1 class="title">IPL DATA HUB</h1>

        <div class="menu-grid">

            <a href="/win-probability" class="menu-item">Win Probability</a>

            <a href="/teams" class="menu-item">Teams Info</a>
<!-- 
            <a href="/players" class="menu-item">Players Statistics</a>

            <a href="/matches" class="menu-item">Matches Analysis</a>

            <a href="/points-table" class="menu-item">Points Table</a>

            <a href="/about" class="menu-item">About IPL Data</a> -->

        </div>
    </div>

</body>

</html>
